<div class="floatingMenuPanel" ng-show="displayOptions.showMenu" ng-controller="ServiceListController as controller" ng-init="orderby='name';">
	<div class="floatingMenuPanel-back">
	</div>
	<div class="floatingMenuPanel-inner">
		<div style="margin: auto; max-width: 800px; padding: 20px; ">
			<div class="input-group" style="border: 1px solid #a0a0a0;margin-bottom: 4px;border-radius: 8px;">
				<span class="input-group-btn">
					<a class="btn " type="button" ng-click="controller.applySearchHandler()">
						<span class="glyphicon glyphicon-search" style="color: #8c8c8c;line-height: 18px;"></span>
					</a>
				</span>
				<input type="text" id="search-service" class="form-control" placeholder="Search for services..." ng-model="searchFor" ng-enter="controller.applySearchHandler()">
			</div>
			<span>
				<b style="color: #737373;">Order by:</b>
				<a class="clickable" ng-click="orderby='name'" ng-class="(orderby==='category'?'text-muted':'text-primary')">Name</a> |
				<a class="clickable" ng-click="orderby='category'" ng-class="(orderby==='category'?'text-primary':'text-muted')">Category</a>
			</span>
		</div>
		<div ng-show="orderby==='name'" class="main-menu-section">
			<div class="service-icon" ng-repeat="service in filteredService = (services | filter:filterServices() | filter:{enabled:true})">
				<span class="clickable service-icon-tool"><i class="fa fa-question-circle" ng-click="controller.displayHelpHandler(service)" style="margin-top: -3px;"></i> <span class="service-icon-tool-text">Show help</span></span>
				<div class="service-icon-inner" ng-click="controller.launchServiceHandler(service)">
					<!-- <i class="fa fa-question-circle service-icon-tool" title="Application information" style="margin-top: 22px;"></i> -->
					<!-- <i class="fa fa-question-circle service-icon-tool" title="Application information" style="margin-top: 47px;"></i> -->
					<span class="icon-image" ng-style="{'background-color': service.iconColor}">{{getIconText(service.title)}}</span>
					<span class="icon-name">{{service.title}}</span>
				</div>
			</div>
			<h1 ng-hide="filteredService.length" style="text-align: center; color: #7b7b7b; ">No applications are available in this eBioKit!</h1>
		</div>
		<div ng-show="orderby==='category'" class="main-menu-section">
			<div class="section-body">
				<div class="col-sm-2 main-menu-categories-list">
					<b>Available categories</b>
					<ul style="margin-top: 10px;">
						<li class="clickable" ng-repeat="category in categories" ng-click="categoryFilter[0]=category.name" style="text-transform: capitalize;">
							{{category.name}}
						</li>
					</ul>
				</div>
				<div class="col-sm-10" style="padding: 10px 50px;">
					<h2 style="color:#333; text-transform: capitalize;">{{categoryFilter[0]}}</h3>
						<div class="service-icon" ng-repeat="service in filteredService = (services | filter:filterServicesByCategory() | filter:filterServices() | filter:{enabled:true})">
							<span class="clickable service-icon-tool"><i class="fa fa-question-circle" ng-click="controller.displayHelpHandler(service)" style="margin-top: -3px;"></i> <span class="service-icon-tool-text">Show help</span></span>
							<div class="service-icon-inner" ng-click="controller.launchServiceHandler(service)">
								<!-- <i class="fa fa-question-circle service-icon-tool" title="Application information" style="margin-top: 22px;"></i> -->
								<!-- <i class="fa fa-question-circle service-icon-tool" title="Application information" style="margin-top: 47px;"></i> -->
								<span class="icon-image" ng-style="{'background-color': service.iconColor}">{{getIconText(service.title)}}</span>
								<span class="icon-name">{{service.title}}</span>
							</div>
						</div>
						<h1 ng-hide="filteredService.length" style="text-align: center; color: #7b7b7b; ">No applications are available in this eBioKit!</h1>
					</div>
				</div>
			</div>
			<div class="footer navbar-fixed-bottom" style=" text-align: center; color: #333; ">
				<p>Errors or suggestions? <i class="fa fa-paper-plane"></i><a href="https://github.com/eBioKit/ebiokit-site/issues" target="_blank"> Send us a report!</a></p>
			</div>
		</div>
	</div>
