<div ng-controller="ServiceListController as controller">
	<div class=" admin-section-title-div">
		<div class="panel-body">
			<h1>eBioKit control panel</h1>
			<h3>Manage your system easily</h3>
		</div>
	</div>
	<div class="admin-section-content-div">
		<div class="panel panel-default">
			<div class="panel-body" style="height:350px;">
				<h2>System information</h2>
				<div style="margin:auto; ">
					<div style="height:250px; width:30%; float:right;">
						<div style="margin-top:25px; height:100px;">
							<canvas class="chart chart-horizontal-bar" chart-data="mem_load" chart-options="mem_options" ></canvas>
						</div>
						<div style="margin-top:25px; height:100px;">
							<canvas class="chart chart-horizontal-bar" chart-data="swap_use" chart-options="swap_options" ></canvas>
						</div>
					</div>
					<div style="height:250px; width:70%; ">
						<canvas class="chart chart-line"
						chart-labels="cpu_load_labels" chart-data="cpu_loads" chart-colors="cpu_colors" chart-options="cpu_options" ></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body" >
				<h2>Services management</h2>
				<a class="clickable" ng-click="controller.updateServicesInfo();" style=" float: right;"><i class="fa fa-refresh"></i> Refresh list</a>
				<table class="table">
					<thead>
						<tr style="text-align:center;">
							<th>Service name</th>
							<th>Status</th>
							<th>Tools</th>
							<th>Enable</th>
							<th>Message</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="services === undefined || services.length === 0" ><td colspan="5">
							<h3 style="text-align:center;">No services were installed in the system</h3>
							<h3 style="text-align:center;"><a class="clickable" ng-click="controller.showServicesShopHandler()">Install new services now!</a></h3>
						</td>
					</tr>
					<tr service-row ng-repeat="service in services | filter:{installed : '!!'}" ></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
